.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    background-color: #222738;
    color: #6e7888;
}
.sag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


.game_over {
    z-index: 1;
    color: rgb(204, 0, 0);
    border-radius: 2px;
    display: none;
    flex-direction: column;
}

.refresh_button {
    z-index: 2;
    display: none;
    border: none;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 10px 20px;
}

.refresh_button:hover {
    background-color: rgb(198, 198, 198);
}

.game_over span {
    font-size: 100px;
}

.game_board {
    position: relative;
    width: 497px;
    height: 497px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, transparent 14px, #222738 15px),
        linear-gradient(90deg, transparent 14px, #222738 15px);
    background-size: 15px 15px;
    overflow: hidden;
    border: 1px solid #222738;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181825;
}

.snake {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
}
.snake.head{
    background: rgb(235, 240, 235); 
    box-shadow: 
    0 0 5px rgb(237, 242, 237),
    0 0 10px rgb(227, 231, 227),
    0 0 20px rgb(245, 247, 245),
    0 0 40px rgb(231, 235, 231),
    0 0 80px rgb(212, 216, 212);
    border-radius: 10px;
}

.game_over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game_over .game_over_text {
    font-size: 2em;
    color: red;
}
.game_over .skor {
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.refresh_button {
    margin-top: 20px;
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yem {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f90; 
    box-shadow: 
    0 0 5px #f90,
    0 0 10px #f90,
    0 0 20px #f90,
    0 0 40px #f90,
    0 0 80px #f90;
}
#ui {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex-flow: column;
    margin-left: 10px;
    height: 200px;
    justify-content: space-around;
    color: #6e7888;
  }
  .score_text {
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 8px;
    margin-bottom: 30px;
    transform: rotate(270deg);
  }
  #score {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
    transform: rotate(-90deg);
  }
  #select_renk{
    border: none;
    background: #181825;
    border-radius: 4px;
    color: rgb(155, 198, 235);
    width: 70px;
  }
