.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_over {
    z-index: 1;
    color: rgb(204, 0, 0);
    border-radius: 2px;
    display: none;
    flex-direction: column;
}

.refresh_button {
    z-index: 2;
    display: none;
    border: none;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 10px 20px;
}

.refresh_button:hover {
    background-color: rgb(198, 198, 198);
}

.game_over span {
    font-size: 100px;
}

.game_board {
    position: relative;
    width: 497px;
    height: 497px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, transparent 14px, #ffffff 15px),
        linear-gradient(90deg, transparent 14px, #ffffff 15px);
    background-size: 15px 15px;
    overflow: hidden;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snake {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: green;
}

.game_over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game_over .game_over_text {
    font-size: 2em;
    color: red;
}
.game_over .skor {
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.refresh_button {
    margin-top: 20px;
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yem {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(231, 82, 8);
}
