.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_board{
    width: 650px;
    height: 650px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snake{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(53, 53, 53);
}
.game_over{
    z-index: 1;
    color: rgb(204, 0, 0);
    border-radius: 2px;
    font-size: 100px;
    display: none;
}
.refresh_button{
    z-index: 2;
    display: none;
    margin-top: 100px;
}